node_modules/
.expo/
dist/
desktop-dist/
desktop-build/
desktop-release/
web-build/
sync-data/*
!sync-data/
!sync-data/sync-db.json
!sync-data/files/
!sync-data/files/**
.env
.env.*
*.log
npm-debug.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/.kotlin/
/desktop-release-server-only
/desktop-release-database-status
/desktop-release-database-status-final
/desktop-release-create-server-db
